@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==============================    LAYER BASE ======================================== */

@layer base {
  h1 {
    font-family: "Montserrat", sans-serif;
    @apply font-extrabold;
  }
  p,
  h4,
  label,
  select,
  input::placeholder {
    font-family: "Montserrat", sans-serif;
    @apply font-extralight;
  }
  input:focus {
    outline: none;
  }
}

/* ==============================    LAYER COMPONENTS  ======================================== */

@layer components {
  .active {
    @apply border-r-4 border-green-500;
  }
  button {
    font-family: "Montserrat", sans-serif;
    @apply font-bold;
  }
  .animate {
    @apply transition duration-700 ease-in-out hover:scale-110;
  }
  .btn-stay {
    @apply bg-[#08BC26] p-2 text-white rounded-md px-4 w-full;
  }
  .btn-leave {
    @apply bg-red-500 p-2 text-white  rounded-md px-4;
  }
  .leading-custom {
    line-height: 44px;
  }
  .leading-custom-two {
    line-height: 59.4px;
  }
}

/* ==============================    CUSTOM CSS  ======================================== */

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0px;
  left: 0px;
  background: #000;
  transform: rotate (0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
}
.open .hamburger-top {
  transform: rotate(45deg);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(135deg);
}

.stroke {
  color: black;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.input::placeholder {
  font-family: "Montserrat", sans-serif;
  opacity: 1; /* Firefox */
}

.scrollable::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
}
.scrollable::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #eee;
}
.scrollable::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  /* border: 3px solid #000; */
}

.bg-hero {
  width: 200px;
  height: 300px;
  left: 30%;
}

.fontAwesome {
  font-family: "Montserrat", FontAwesome, sans-serif;
}

/* Swiper JS styles */
.swiper-button-prev {
  color: #fff !important;
}

.swiper-button-next {
  color: #fff !important;
}
.swiper {
  width: 100%;
  height: 100%;
}
