@tailwind base;
@tailwind components;
@tailwind utilities;

/* color: #fceaea; concluded color  */
/* color: #fff9eb; scheduled color  */
/* color: #ebf5ed; ongoing color  */
/* color: #082a0f; primary color  */
/* color: #08c127; progress color  */
/* color: #e7f9ea; progress background color  */

/* .active {
  @apply after:content-[''] relative after:absolute
  after:w-1 after:h-1 bg-green-400  after:top-0 right-0;
} */

.active {
  @apply relative bg-transparentWhite py-4 px-2 first:pt-[.1rem] before:absolute before:top-[1.1rem] before:right-0 before:content-[""] before:bg-green-500 before:h-[2.7rem] before:w-[.3rem] before:rounded-[1rem];
}

.sidebar-icons {
  @apply text-gray-200;
}

.sidebar-icons.active {
  @apply text-white;
}

select,
input::placeholder {
  font-family: "Montserrat", sans-serif;
}
h1 {
  @apply font-extrabold;
  font-family: "Montserrat", sans-serif;
}
h2,
p {
  font-family: "Montserrat", sans-serif;
}
input:focus {
  outline: none;
}
input[type="radio"]:checked {
  accent-color: green;
}
.radio:checked ~ label {
  @apply bg-green-400;
}
label:hover {
  @apply bg-[#EDFFF0];
}
input[type="radio"]:checked {
  @apply bg-green-50;
}

.animate {
  @apply transition duration-700 ease-in-out hover:bg-[#06931e] hover:rounded-full;
}
.animateBack {
  @apply transition duration-700 ease-in-out hover:rounded-full;
}
.btn-stay {
  @apply bg-[#08C127] p-3 text-white rounded-md px-8;
}
.btn-leave {
  @apply bg-red-500 p-3 text-white  rounded-md px-4;
}
/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 20px;
  transition: all 0.25s;
  position: relative;
  color: #082a0f;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 1px;
  top: 0px;
  left: 0px;
  background: #000;
  transform: rotate (0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
}
.open .hamburger-top {
  transform: rotate(45deg);
  @apply bg-white;
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(135deg);
  @apply bg-white;
}

.stroke {
  color: black;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.input::placeholder {
  font-family: "Montserrat", sans-serif;
  opacity: 1; /* Firefox */
}
input[type="select"] option {
  background: "#08c127" !important;
}

.scrollable::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
.scrollable::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #eee;
}
.scrollable::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #082a0f;
  border-radius: 10px;
  /* border: 3px solid #000; */
}

.hide-scrollbar::-webkit-scrollbar {
  /* Chrome, Safari, Opera */
  display: none;
  /* IE, Edge, Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.bg-hero {
  width: 200px;
  height: 300px;
  left: 30%;
}

.fontAwesome {
  font-family: "Arial", FontAwesome !important;
}

/* Swiper JS styles */
.swiper-button-prev {
  color: #fff !important;
}

.swiper-button-next {
  color: #fff !important;
}
.swiper {
  width: 100%;
  height: 100%;
}
input:focus {
  outline: 1px solid #eee;
}

.iti__flag {
  background-image: url("images/flags.png");
}

/* Table header */
.table-head {
  @apply px-6 py-3 font-bold lg:font-[700] text-base normal-case min-w-fit whitespace-nowrap;
}

.table-row {
  @apply border-b even:bg-slate-200 odd:bg-white;
}

/* Search */
.searchInp {
  @apply flex;
}

.searchInp input {
  @apply border-x-0 border-t-0 border-b rounded-md rounded-tl-none rounded-bl-none text-[1rem] pr-4 py-3 md:py-5 h-6 md:h-12 w-[10rem] md:w-[22rem] focus:outline-none pl-1 md:pl-0;
}

.searchIcons {
  @apply h-6 md:h-12 w-6 md:w-12 grid place-items-center cursor-pointer border-b;
}

.searchResult {
  @apply bg-white w-[22rem] h-[22rem] shadow-md overflow-hidden overflow-y-auto;
}

.searchResult::-webkit-scrollbar {
  display: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("images/flags@2x.png");
  }
}
.PhoneInputInput {
  @apply p-2 w-full rounded !important;
}
.PhoneInputInput:focus {
  @apply p-2 w-full outline-none rounded-md !important;
}
